# You can apply for codeownership on our discord server
# In this thread: https://discord.com/channels/881118111967883295/904803065293578260/907030924510781460
# Please also ping Epic and TM (IDs: 397745647723216898 & 444548735075352576)
*       @TAG-Epic

/assets/ @DenverCoder1
/docs/ @RPSMain @ooliver1
/examples/ @RPSMain @ooliver1
/.github/CODEOWNERS @veni-vidi-code 
/nextcord/ext/tasks/ @veni-vidi-code 
